
<head>
<meta charset="UTF-8">
<title>Log In</title>

<link rel="stylesheet" href="stylesheets/adminlog.css"/>

</head>

<body>

{{!-- <nav><a href="#" class="focus">Log In</a></nav> --}}

<form method="post" action="/admin/Login">

	<h2>Admin Login</h2>

	<input type="text" name="username" class="text-field" placeholder="Username" />
    <input type="password" name="password" class="text-field" placeholder="Password" />
    
  <a href=""><input type="submit"  class="button" value="Log In" /></a>

</form>

</body>