<link rel="stylesheet" href="/stylesheets/sidebar.css">

{{!-- {{>navbar}} --}}
<div class="nav">
    <h4>DASHBOARD</h4>
<a href="#" class="logout">LOGOUT</a>
</div>
<div class="categoriesdiv">
    <div class="side">{{>sidebar}}</div>
    <div class="cate1">
        <div class="categories">USERS</div>
        <div class="categories">PRODUCTS</div>
        <div class="categories">ORDERS</div>
        </div>
    <div class="cate2">
        <div class="categories">BRANDS</div>
        <div class="categories">PRODUCTS</div>
        <div class="categories">CATEGORIES</div>
    </div>
</div>