<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/sidebar.css">
</head>
<body>
    <div class="sidebar">
            <form>
            <button class="reg"><a href="#">USERS</a></button>
            <button class="reg"><a href="#">ORDERS</a></button>
            <button class="reg"><a href="/admin/addproduct">ADD PRODUCTS</a></button>
            <button class="reg"><a href="#">COMPLAINTS</a></button>
            {{!-- <button class="reg"></button> --}}</form>
    </div>
</body>
</html>