/* /* body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
} */

/* a {
  color: #00B7FF;
} */
/* *
{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.navbar
{
  width: 100%;
  height: 80px;
  background-color: #bfc8cc;
  margin-bottom: 5px;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
ul
{
  list-style-type: none;
  padding-top: 30px;
  /* text-align: right; */
/* } */
/* ul li
{
  display: inline;
  padding: 50px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}
li:hover
{
  color:#676a6b;
} */
/* .sidebar
{
  width: 20%;
  background-color: #bfc8cc;
  height: 370px;
  margin-top: 20px;
  position: absolute;
  left:50px;
  box-shadow: rgba(60, 60, 60) 0px 5px 15px;
  border-radius: 6px;
}
.reg
{
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  padding: 18px;
  cursor: pointer;
  background-color: #5b5d5e;
  /* border: 1px solid black; */
  /* border: none;
  margin-top: 16px;
  margin-left: 24px;
  width: 80%;
  border-radius: 5px;
  font-family:ar;
}
.reg:hover
{
  color: rgb(233, 227, 227);
  box-shadow: rgba(60, 60, 60) 0px 54px 55px, rgba(60, 60, 60) 0px -12px 30px, rgba(60, 60, 60) 0px 4px 6px, rgba(60, 60, 60) 0px 12px 13px, rgba(60, 60, 60) 0px -3px 5px;
}  */ 
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Poppins&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    /* background-color: #eee; */
    height: 100vh;
    font-family: 'Poppins', sans-serif; 
    /* background: linear-gradient(to top, #fff 10%, rgba(93, 42, 141, 0.4) 90%) no-repeat; */
}
.wrapper{
    max-width: 500px;
    border-radius: 10px;
    margin: 50px auto;
    padding: 30px 40px;
    box-shadow: 20px 20px 80px #b7abd8;
}
.h4{
    font-family: 'Poppins', sans-serif; 
    font-size: 2.5rem;
    font-weight: bold;
    color: #24047a;
    /* font-style: italic;   */
}
.h5{
    font-family: 'Poppins', sans-serif; 
}
.input-field{
    /* border: 1px solid #ddd; */
    border-radius: 5px;
    padding: 5px;
    display: flex;
    align-items: center;
    cursor: pointer;
    border: 1px solid #24047a;
    color: #24047a;
}
input{
    border: none;
    outline: none;
    box-shadow: none;
    width: 100%;
    padding: 0px 2px;
    font-family: 'Poppins', sans-serif; 
}
.fa-eye-slash.btn{
    border: none;
    outline: none;
    box-shadow: none;
}
a{
    text-decoration: none;
    color: #24047a;
    font-weight: 700;
}
a:hover{
    text-decoration: none;
    color: #24047a;
}
.option{
    position: relative;
    padding-left: 30px;
    cursor: pointer;
}
.option label.text-muted{
    display: block;
    cursor: pointer;
}
.option input{
    display: none;
}
.checkmark {
    position: absolute;
    top: 3px;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 50%;
    cursor: pointer;
}
.option input:checked ~ .checkmark:after {
    display: block;
}
.option .checkmark:after{
    content: "";
	width: 13px;
    height: 13px;
    display: block;
	background: #24047a;
    position: absolute;
    top: 48%;
	left: 53%;
    border-radius: 50%;
    transform: translate(-50%,-50%) scale(0);
    transition: 300ms ease-in-out 0s;
}
.option input[type="radio"]:checked ~ .checkmark{
    background: #fff;
    transition: 300ms ease-in-out 0s;
    border: 1px solid #24047a;
}
.option input[type="radio"]:checked ~ .checkmark:after{
    transform: translate(-50%,-50%) scale(1);
}
.btn.btn-block{
    border-radius: 20px;
    background-color: #24047a;
    color: #fff;
}
.btn.btn-block:hover{
    background-color: #24047a;
}
@media(max-width: 575px){
    .wrapper{
        margin: 10px;
    }
}
@media(max-width:424px){
    .wrapper{
        padding: 30px 10px;
        margin: 5px;
    }
    .option {
        position: relative;
        padding-left: 22px;
    }
    .option label.text-muted{
        font-size: 0.95rem;
    }
    .checkmark {
        position: absolute;
        top: 2px;
    }
    .option .checkmark:after{
        top: 50%;
    }
    #forgot{
        font-size: 0.95rem;
    }
}