<div class="wrapper bg-white">
        <div class="h4 text-center">SIGN IN</div>
        <div class="h5 text-muted text-center pt-2">Enter your login details</div>
        <form class="pt-3" action="/login" method="post">
            <div class="form-group py-2">
                <div class="input-field">
                    <span class="far fa-user p-2"></span>
                    <input type="text" placeholder="Username or Email Address" required name="username">
                </div>
            </div>
            <div class="form-group py-1 pb-2">
                <div class="input-field">
                    <span class="fas fa-lock p-2"></span>
                    <input type="password" placeholder="Enter your Password" required name="password">
                    {{!-- <button class="btn bg-white text-muted">
                        <span class="far fa-eye-slash"></span>
                    </button> --}}
                </div>
            </div>
            <div class="d-flex align-items-start">
                <div class="ml-auto">
                    <a href="#" id="forgot">Forgot Password?</a>
                </div>
            </div>
            <input class="btn btn-block text-center my-3" type="submit" value="Sign In">
            <div class="text-center pt-3 text-muted">Not a member? <a href="registers">Sign up</a></div>
        </form>
    </div>