{{>navbar}}
<link rel="stylesheet" href="/stylesheets/orders.css">
<div class="orders">
    <div class="orderItems">
        <div class="image"><img src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="..." height="200px" width="350px"/></div>
        <div class="itemDetails">
            <h3>Delivery Date</h3>
            <p>Order details</p>
            <p>Rate Product</p>
        </div>
    </div>
    <div class="orderItems">
        <div class="image"><img src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="..." height="200px" width="350px"/></div>
        <div class="itemDetails">
            <h3>Delivery Date</h3>
            <p>Order details</p>
            <p>Rate Product</p>
        </div>
    </div>
    <div class="orderItems">
        <div class="image"><img src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="..." height="200px" width="350px"/></div>
        <div class="itemDetails">
            <h3>Delivery Date</h3>
            <p>Order details</p>
            <p>Rate Product</p>
        </div>
    </div>
</div>
    